.ScrollView {
	background-color: lightsteelblue;
	display: block;
	padding: 5px;
	font-family: sans-serif;

}

.LinearLayout {
	background-color: green;
	border: 0px solid black;
	display: block;
	margin: 3px;
	padding: 3px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;

}

.InputFieldSelect {
	border: 1px solid red;
	display: none;
	overflow: auto;
	background-color: lightsteelblue;
	height: 220px;
	width: 100%;
	margin: 5px;
	padding: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;

}
.Item {
	border: 1px solid red;
	background-color: lightsteelblue;
	margin: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	padding: 5px;
}
.ShowExamples {
	border: 1px solid red;
	background-color: lightsteelblue;
	margin: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	padding: 5px;
	width: 12em;
	display: none;
}
.Item:hover {
	background-color: white;
}

.TextView {
    background-color: chartreuse;
	color:red;
	font-weight: bold;
	display: block;
	padding: 10px;
	margin: 10px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 1px solid red;
	font-size: 20px;
}

.TextViewBigger {
    background-color: chartreuse;
	color:red;
	font-weight: bold;
	display: block;
	padding: 10px;
	margin: 10px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 1px solid red;
	font-size: 30px;
	text-align: center;
}

.TextViewSmaller {
    background-color: chartreuse;
	color:red;
	display: block;
	padding: 10px;
	margin: 10px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 1px solid red;
	font-size: 12px;
}

.InputField {
	display: none;
	margin: 10px;
}
.InputText {
	width: 90%;
	background-color: yellow;
	font-size: 16px;
	height: 7em;
	margin: 5px;
	padding: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 2px solid black;
}
#headingReproof {
	display: none;
}

#generatedReproof {
	display: none;
}

#sendsms {
	display: none;
}

#sharevytka {
	display: none;
}

.Reproof {
	width: 80%;
	background-color: white;
	font-size: 15px;
	height: 15em;
	margin: 5px;
	padding: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 2px solid black;
	display: none;
}

.Buttons {
	height: 30px;
	margin: 7px;
	font-size: 16px;
}
.ButtonsSmaller {
	height: 25px;
	margin: 7px;
	font-size: 14px;
}
span {
	font-size: 19px;
	margin: 5px;
	padding: 5px;
}
