.ScrollView {
	background-color: lightsteelblue;
	display: block;
	padding: 10px;
	font-family: sans-serif;
}

.LinearLayout {
	background-color: green;
	border: 2px solid black;
	display: block;
	margin-bottom: 10px;
	
}

.InputFieldSelect {
	border: 2px solid black;
	display: none;
	overflow: auto;
	background-color: lightsteelblue;
	height: 200px;
	width: 80%;
	margin: 5px;
	padding: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;

}
.Item {
	border: 1px solid red;
	background-color: lightsteelblue;
	margin: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	padding: 5px;
}
.ShowExamples {
	border: 1px solid red;
	background-color: lightsteelblue;
	margin: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	padding: 5px;
	width: 12em;
	display: none;
}
.Item:hover {
	background-color: white;
}

.TextView {
    background-color: chartreuse;
	color:red;
	font-weight: bold;
	display: block;

}
.InputField {
	display: none;
	margin: 10px;
}
.InputText {
	width: 80%;
	background-color: yellow;
	font-size: 16px;
	height: 4em;
	margin: 5px;
	padding: 5px;
	border-radius: 10.0px 10.0px 10.0px 10.0px;
	border: 2px solid black;
}
.Buttons {
	height: 30px;
	margin: 5px;
	font-size: 16px;
}

